.svgContainer {
    height: 100vh;
    /* width: 100vw; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.s{

}
/* .s {
    animation: letterS 300s linear ;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes letterS {
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(-50px);
    }
}

.hSide {
    animation: letterHSide 300s linear ;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes letterHSide {
    from{
        transform: translateX(-60px) scale(1, 2);
        stroke-width: 0.5px;
    }
    to{
        transform: translateX(-60px) scale(1, 2);
        stroke-width: 0.5px;
    }
}
.hMid {
    animation: letterHMid 300s linear ;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes letterHMid {
    from{
        transform: translateX(-60px) scale(1, 2);
    }
    to{
        transform: translateX(-60px) scale(1, 2);
    }
}

.a{
    animation: letterA 300s linear ;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes letterA {
    from{
        transform: translateX(-20px) ;
    }
    to{
        transform: translateX(-20px) ;
    }
} */