.navbar{
    width: 100%;
    
    position: fixed;
    top: 0;
    background: linear-gradient(#111111 , #111111cc);
    box-shadow: 0px 10px 10px #111111cc;
    z-index: 9999;
}

.logo{
    height: 100px;
}