
.skill{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    border-bottom: 2px solid gray;
}

.skill svg{
    margin: 1rem;
   
}

.skill div{
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0.5rem;
    position: absolute;
    padding: 1rem;
    width: 300px;
    /* top: 0px; */
    bottom: 0;
    left: -33px;
    display: none;
}

.skill div a{
    border-bottom: 2px solid lightblue;
}

.skill p {
    font-size: 1.5rem;
}

.skill:hover{
    cursor: help;
}

