.hero{
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
}

.heroText{
    width: 40vw;
    padding: 3rem;
}
.heroText h1{

    font-size: 4rem;
}

.heroText h2{
    font-size: 1.5rem;
}

.heroSocials a{
    margin-right: 1rem;
}


.heroBtn{
    margin-top: 2rem;
    background-color: #C3DBE6;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.2rem;
}

.heroImage{
    width: 40vw;
    display: flex;
    justify-content: center;
}