
.form{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  background-image: url("/secondary-bg.svg");
  border-radius: 15px;
  padding: 0.8rem;
}

@media (max-width: 700px) {
  .form{
    width: 100vw;
  }
}

.canvas{
  width: 500px;
}
.contactSection{
    height: 80vh;
    width: 100%;
    background-color: var(--secondary-color);
    background-image: url("/secondary-bg.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    position: relative;
}

.contact{
  position: absolute;
  text-align: center;
}

.contactForm{
    background-color: rgb(33, 33, 33);
    border-radius: 1rem;
    padding: 2rem 3rem;
    width: 50vw;
}
.contactForm button{
    cursor: pointer;
    background: #cccccc;
    border-radius: 5px;
    border: none;
    margin: 1rem;    font-weight: bold;
    color: #333333;
    padding: 0.5rem 1rem;
}

.input{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.input label{
    font-size: 1.2rem;
}
.input input, .input textarea {
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-family: Roboto;
}
.input input:focus{
    outline: 5px solid var(--accent-color);
}
.btn{
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 0.5rem 1rem;
}






