.projectsSection {
  position: relative;
  width: 100%;
  /* background-color: var(--secondary-color); */
  background-image: url("/primary-bg.svg");
  background-repeat: repeat;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0
}

.projectsSection h2 {
  margin-bottom: 5rem;
}



/* __________________ ProjectDisplay ____________________________ */

.slideShow {
  display: flex;
  gap: 30px;
  margin-bottom: 10rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(50, 50, 50, 0.2);
}

.imgContainer {
  height: 25vw;
  width: 50vw;
  position: relative;
  margin-bottom: 5px;
}

.image {
  filter: brightness(0.3);
  transition: filter 1s;
}

.image:hover {
  filter: brightness(1);
}

.links {
  text-align: center;
  margin-top: 10px;
}

.links a {
  margin: 0 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  
}


@media (max-width: 1000px) {
  .slideShow {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .imgContainer{
    height: 40vw;
    width: 80vw;
  }
  .description{
    align-items: center;
    text-align: center;
  }
}