
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url("../public/MBP.jpg") no-repeat center center fixed;
    background-size: 100%; */
}

.main{
    /* border: 2px solid blue; */
    width: 80vw;
    min-height: 100vh;
}

