.scene_container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
}

.scene{
  width:100vw;
  height:70vh;
}

.canvas{
  background: #000;
}

.link{
  position: absolute;
  bottom: 40px;
  left: 40px;
}